{% extends 'base.html' %}

{% block title %}Reset your password{% endblock %}

{% load static %}
{% block CssFile %}
<!-- Different support CSS Files -->
<link href="{% static 'different/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}


<!-- ======= Start Password Reset Form Section ======= -->
<section class="contact mt-section">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2>Забыли пароль?</h2>
            <p>Страница сброса пароля</p>
            <div class="php-email-form d-flex justify-content-center">
                <form method="POST" class="col-md-5 col-sm-12 col-12 text-left">{% csrf_token %}
                    <label for="id_email" class="mb-3 justify-content-end">Email:</label>
                    <input name="email" class="form-control mb-3" placeholder="Email address" type="email" id="id_email"
                           required="true">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Востановить</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- ======= End Password Reset Form Section ======= -->
{% endblock %}

{% block footer %}
{% endblock %}

{% block JSFile %}
{% endblock %}