{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% load static %}
{% block CssFile %}
<!-- Different support CSS Files -->
<link href="{% static 'different/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<!-- ======= Reset password Section ======= -->
<section class="contact mt-section">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2>Забыли пароль?</h2>
            <p>Страница сброса пароля</p>
            <div class="php-email-form d-flex justify-content-center">
                <form method="POST" class="col-md-5 col-sm-12 col-12 text-left">{% csrf_token %}
                    {{ form.old_password.label_tag }}
                    <input type="password" name="old_password" class="form-control mb-3" placeholder="{{form.old_password.label}}" id="old_password"
                           required="true">
                    {{ form.old_password.errors }}

                    {{ form.new_password1.label_tag }}
                    <input type="password" name="new_password1" class="form-control mb-3" placeholder="{{form.new_password1.label}}" id="new_password1"
                           required="true">
                    {{ form.new_password1.errors }}

                    {{ form.new_password2.label_tag }}
                    <input type="password" name="new_password2" class="form-control mb-3" placeholder="{{form.new_password2.label}}" id="new_password2"
                           required="true">
                    {{ form.new_password2.errors }}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Сбросить</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- ======= End Reset password Section ======= -->
{% endblock %}


{% block footer %}
{% endblock %}

{% block JSFile %}
{% endblock %}