{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% load static %}
{% block CssFile %}
<!-- Different support CSS Files -->
<link href="{% static 'different/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
{% endblock %}


{% block content %}
<!-- ======= Reset password Section ======= -->
<section class="contact mt-section">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2>Профиль</h2>
            <p>Сброс пароля</p>
            <div class="php-email-form d-flex justify-content-center">
                <div>Ваш пароль изменен. Вы можете <a href="{% url 'accounts:login' %}">авторизоваться сейчас.</a></div>
            </div>
        </div>
    </div>
</section>
<!-- ======= End Reset password Section ======= -->
{% endblock %}

{% block footer %}
{% endblock %}

{% block JSFile %}
{% endblock %}